@use '~@/style/color';

html,
body {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  height: 100%;
  user-select: none;
}

#__next {
  height: 100%;
  display: flex;
  flex-direction: column;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

button {
  border: none;
  background: none;
  cursor: pointer;

  &:focus {
    outline: none;
  }
}

input {
  border: none;
  background-color: unset;
  color: inherit;
  padding: unset;
  font-family: sans-serif;

  &:focus {
    outline: none;
  }
}

::-webkit-scrollbar-thumb {
  border-left: 2px solid transparent;
  background-color: transparent;
}

::-webkit-scrollbar-track {
  border-left: 2px solid transparent;
}
