@use '~@/style/color';
@use '~@/style/mixin';
@use '~@/style/typography';

@mixin _header {
  @include typography.h4;
  line-height: 30px;
  color: color.$pane-header-fg;
  background-color: color.$pane-header-bg;
  display: flex;
  align-items: center;
}

@mixin header-with-icon {
  @include _header;
  cursor: pointer;
  svg {
    font-size: 20px;
    margin: 0 2px;
  }
}

@mixin header-without-icon {
  @include _header;
  padding-left: 24px;
}

@mixin header-with-button {
  @include _header;
  justify-content: space-between;
  padding-left: 24px;
  padding-right: 10px;
  .buttons {
    display: flex;
    align-items: center;
    gap: 8px;
    svg {
      font-size: 20px;
      cursor: pointer;
      &.active {
        color: color.$green1;
      }
    }
  }
}

@mixin songlist {
  overflow: auto;
  @include mixin.scrollbar(0);
}
