@use '~@/style/color';
@use '~@/style/typography';

.container {
  background-color: color.$sidebar;
  display: flex;
  flex-direction: column;
}

.title {
  @include typography.h3;
  line-height: 35px;
  color: color.$sidebar-title;
  margin-left: 24px;
}

.panes {
  display: flex;
  flex-direction: column;
  overflow: auto;
}
