@use '~@/style/color';
@use '~@/style/mixin';
@use '~@/style/typography';

.container {
  @include mixin.center-container;
  flex-direction: column;
  gap: 24px;
  overflow: auto;
}

.info {
  color: color.$grey5;
  @include typography.b1;
  background-color: color.$blue1;
  padding: 2px 8px;
}
