@use '~@/style/mixin';
@use '~@/style/typography';

.container {
  @include mixin.center-container();
  @include typography.b1;
  gap: 6px;
  padding: 0 12px;
  border-radius: 4px;

  svg {
    font-size: 16px;
  }
}
