@use '~@/style/color';
@use '~@/style/mixin';
@use '~@/style/typography';
@use '../common.scss';

.container {
  @include mixin.center-container(v);
  @include common.layout;

  &.playing {
    .index,
    .name {
      color: color.$song-playing;
    }
  }
  &.unavailable {
    .name {
      color: color.$song-unavailable;
    }
  }

  .index {
    padding-right: 2px;
    text-align: right;
  }
  .name {
    color: color.$grey8;
  }

  .name,
  .artist,
  .album {
    @include mixin.ellipsis;
  }

  svg {
    font-size: 16px;
  }
}
