@use '~@/style/color';
@use '~@/style/mixin';
@use '~@/style/typography';

.container {
  @include mixin.center-container(v);
  height: 80px;
  padding-left: 16px;
  gap: 16px;
  cursor: pointer;

  &:hover {
    background-color: color.$highlight1;
  }

  img {
    width: 56px;
    border-radius: 8px;
  }
}

.name {
  flex: 3;
  color: color.$grey6;
  @include typography.b1;
  @include mixin.ellipsis;
}

.count {
  width: 100px;
  color: color.$grey5;
  text-align: right;
  padding-right: 40px;
  @include typography.b2;
}

.creater {
  flex: 2;
  color: color.$grey6;
  @include typography.b2;
  @include mixin.ellipsis;
}
