@use '~@/style/color';
@use '~@/style/mixin';
@use '~@/style/typography';

.container {
  @include mixin.center-container(v);
  color: color.$grey5;
  line-height: 36px;
  gap: 16px;
  @include typography.b2;
  padding-right: 8px;

  &.playing {
    .index,
    .name {
      color: color.$song-playing;
    }
  }
  &.unavailable {
    .name {
      color: color.$song-unavailable;
    }
  }

  .index {
    width: 40px;
    padding-right: 2px;
    text-align: right;
  }
  .name {
    flex: 2;
    color: color.$grey6;
  }
  .artist {
    flex: 1;
  }
  .album {
    flex: 1;
  }
  .duration {
    width: 42px;
  }
  .pop {
    width: 100px;
    @include mixin.center-container;
  }

  .name,
  .artist,
  .album {
    @include mixin.ellipsis;
  }

  svg {
    font-size: 16px;
  }
}
