@use '~@/style/color';

.container {
  width: 252px;
  background-color: color.$sidebar;
  display: flex;
  flex-direction: column;
}

.title {
  font-size: 11px;
  line-height: 35px;
  color: color.$sidebar-title;
  margin-left: 20px;
}

.panes {
  display: flex;
  flex-direction: column;
  overflow: auto;
}
