@use '~@/style/color';

.container {
  padding-left: 20px;
  display: flex;
  white-space: nowrap;
  align-items: baseline;
  overflow-x: hidden;
  cursor: pointer;

  &:hover {
    background-color: color.$highlight1;
  }

  &.playing {
    background-color: color.$highlight2;
  }
}

.name {
  font-size: 11px;
  line-height: 22px;
  color: color.$grey6;
}

.authors {
  font-size: 10px;
  color: color.$grey5;
  margin-left: 4px;
}
