@use '../../../../common';

.header {
  @include common.header-with-icon;
  background-color: unset;
  font-weight: unset;
  align-items: center;
  padding-left: 8px;
}

.songlist {
  @include common.songlist;
}
