@use '~@/style/color';
@use '~@/style/mixin';
@use '../../common';

.container {
  overflow: auto;
  display: flex;
  flex-direction: column;
}

.header {
  @include common.header-without-icon;
}

.songs {
  overflow: auto;
  @include mixin.scrollbar(10);
}
