@use '~@/style/color';
@use '~@/style/mixin';

.body {
}

/** draggable element and all mouse event (include :hover) conflict */
.hover {
  background-color: color.$overlay1;
}

.container {
  margin: 2vh;
  position: relative;
  overflow: hidden;
  text-align: center;
  @include mixin.draggable;
}

.curr_sentence,
.next_sentence {
  // TODO: tg
  font-size: 32vh;
  line-height: 48vh;
  height: 48vh;
  white-space: nowrap;
  overflow: hidden;
}

.curr_sentence {
  display: inline-block;
  color: color.$green1;
}

.next_sentence {
  color: color.$grey6;
}
