@use '~@/style/color';
@use '~@/style/typography';

.count {
  width: 16px;
  height: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  border: 1px solid color.$green1;
  @include typography.l1;
  color: color.$green1;
}
