@use '~@/style/color';
@use '~@/style/mixin';

.container {
  display: flex;
  font-size: 11px;
  line-height: 30px;
  gap: 4px;
  padding: 0 4px;

  &:hover {
    background-color: color.$song-hover;
  }
  &.active {
    background-color: color.$song-focus;
  }
  &.liked {
  }
  &.playing {
    .name {
      color: color.$song-playing;
    }
  }
  &.unavailable {
    .name {
      color: color.$song-unavailable;
    }
  }

  .prefix {
    width: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .name {
    flex: 2;
    color: color.$grey6;
  }

  .authors {
    flex: 1;
    color: color.$grey5;
  }

  .name,
  .authors {
    @include mixin.ellipsis;
  }
}
