@use '~@/style/color';
@use '~@/style/mixin';

.main {
  flex: 1;
  overflow: auto;
  position: relative;
}

.view_container {
  height: 100%;
  display: flex;
  position: relative;
}

.component {
  background-color: color.$component;
  flex: 1;
  overflow: auto;
  @include mixin.scrollbar(14);
}
