@use '~@/style/color';
@use '~@/style/mixin';

.main {
  flex: 1;
  display: flex;
  overflow: auto;
}

.component {
  background-color: color.$component;
  flex: 1;
  overflow: auto;
  @include mixin.scrollbar(14);
}
