@use '~@/style/color';

.window-operations {
  height: 100%;
  margin-left: 10px;

  button {
    height: 100%;
    padding: 0 15px;
    color: color.$grey7;

    &.minimize,
    &.maximize {
      &:hover {
        background-color: color.$highlight2;
      }
    }

    &.close {
      &:hover {
        background-color: red;
      }
    }
  }
}
