@use '~@/style/color';
@use '~@/style/mixin';

.container {
  display: flex;
  flex-direction: column;
  overflow: auto;

  > div:last-of-type {
    @include mixin.scrollbar(10);
  }
}

.header {
  font-size: 11px;
  line-height: 22px;
  font-weight: bold;
  color: color.$pane-header-fg;
  background-color: color.$pane-header-bg;
  cursor: pointer;
  display: flex;
  align-items: center;

  svg {
    font-size: 16px;
    margin: 0 2px;
  }
}
