@use '~@/style/color';
@use '~@/style/mixin';
@use '../common';

.container {
  display: flex;
  flex-direction: column;
  overflow: auto;

  > div:last-of-type {
    @include mixin.scrollbar(10);
  }
}

.header {
  @include common.header-with-icon;
}
