@use '~@/style/color';
@use '~@/style/typography';

.container {
  padding: 32px;
}

.content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
}

.chart {
  border-radius: 8px;
  padding: 16px;
  background-color: color.$highlight1;
  display: flex;
  gap: 16px;
  transition: 0.3s all;
  img {
    width: 128px;
    height: 128px;
    border-radius: 8px;
  }
  span {
    margin-top: 8px;
    color: color.$grey8;
    @include typography.h2;
  }
  &:hover {
    background-color: color.$highlight2;
  }
}
