@use '~@/style/color';
@use '~@/style/mixin';
@use '~@/style/typography';

.song-card {
  flex: 1;
  display: flex;

  .album-cover {
    height: 48px;
    margin-right: 16px;
    border-radius: 4px;
  }

  .song-info {
    max-width: 136px;

    .name,
    .author {
      @include mixin.ellipsis;
    }
    .name {
      @include typography.b1;
      line-height: 24px;
      color: color.$song-name;
    }
    .author {
      @include typography.b2;
      line-height: 24px;
      color: color.$song-author;
    }
  }
}
