$grey1: #222223;
$grey2: #242526;
$grey3: #292a2b;
$grey4: #373838;
$grey5: #5b5b5b;
$grey6: #707071;
$grey7: #b3b3b3;
$grey8: #e6e6e6;

$white: #fff;

$red1: #ff6a6a;
$red2: #ffbbbb;

$green1: #9bd3b2;
$green2: #d0e5dd;

$blue1: #d1f4ff;

$yellow1: #fff9c7;

$highlight1: rgba(255, 255, 255, 0.04);
$highlight2: rgba(255, 255, 255, 0.08);
$highlight3: rgba(255, 255, 255, 0.12);
$highlight4: rgba(255, 255, 255, 0.16);
$highlight5: rgba(255, 255, 255, 0.24);
$highlight6: rgba(255, 255, 255, 0.36);
$highlight7: rgba(255, 255, 255, 0.48);
$highlight8: rgba(255, 255, 255, 0.6);

$overlay1: rgba(0, 0, 0, 0.36);
