@use 'base' as *;

/* BACKGROUND COLORS */
$header: $grey2;

$component: $grey3;
$sidebar: $grey2;
$pane-header-bg: $grey4;
$shortcutbar: $grey1;

$playpanel: $grey3;

$footer: $grey2;

/* Slider */
$slider-track: $grey5;
$slider-fill: $green2;
$slider-slider: $green1;

/* Scrollbar */
$scrollbar: $highlight2;
$scrollbar--hover: $highlight6;

/* FOREGROUND COLORS */
/* Shortcutbar */
$shortcutbar-icon: $grey5;
$shortcutbar-active-icon: $grey7;
/* Sidebar */
$sidebar-title: $grey6;
$pane-header-fg: $grey6;

/* PlayPanel */
/* SongCard */
$song-name: $grey7;
$song-author: $grey6;
/* CentralController */
$button: $grey6;
$play-button: $grey7;
$active-button: $green1;

$input: $grey5;
$input-border: $green1;
$input-text: $grey7;
$input-placeholder: $grey6;
