@use '~@/style/color';
@use '~@/style/mixin';
@use '~@/style/typography';

.container {
  @include mixin.center-container(v);
  height: 80px;
  padding-left: 16px;

  &:hover {
    background-color: color.$highlight1;
  }

  img {
    width: 56px;
    border-radius: 8px;
  }
}

.name {
  margin-left: 16px;
  color: color.$grey7;
  @include typography.b2;
}

.alias {
  margin-left: 8px;
  color: color.$grey6;
  @include typography.b2;
}
