@use '~@/style/color';
@use '~@/style/mixin';

.header {
  height: 30px;
  background-color: color.$header;
  display: flex;
  align-items: center;
  justify-content: space-between;
  @include mixin.self-draggable;
}

.logo {
  width: 60px;
  height: 100%;
  background-color: color.$green1;
}

.right {
  display: flex;
  align-items: center;
  height: 100%;
}
