@use '~@/style/color';

.container {
  width: 48px;
  background-color: color.$shortcutbar;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  svg {
    padding: 12px;
    font-size: 48px;
    color: color.$shortcutbar-icon;
    cursor: pointer;

    &:hover {
      color: color.$shortcutbar-active-icon;
    }
  }
}
