@use '~@/style/color';
@use '~@/style/mixin';

.play-panel {
  height: 80px;
  background-color: color.$playpanel;
  display: flex;
  align-items: center;
  padding: 16px;
  @include mixin.draggable;
}
