@use '~@/style/color';
@use '~@/style/mixin';
@use '~@/style/typography';

.container {
  @include mixin.center-container(v);
  flex-direction: column;
  gap: 40px;
  height: 100%;
  position: relative;
}

.background {
  width: 100%;
  height: 100%;
  position: absolute;
  background-size: cover;
  opacity: 0.3;
  filter: blur(20px);
}

.header {
  @include mixin.center-container;
  flex-direction: column;
  margin-top: 48px;
  /* To fix style issues */
  position: relative;

  .title {
    @include typography.h1;
    color: color.$grey7;
    margin-bottom: 8px;
  }

  .subtitle {
    display: flex;
    gap: 8px;
    color: color.$grey5;
    span {
      color: color.$grey6;
    }
  }
}
