@use '~@/style/color';
@use '~@/style/mixin';
@use '~@/style/typography';

.container {
  @include mixin.center-container(v);
  flex-direction: column;
  gap: 40px;
  padding: 48px 0;
  height: 100%;
}

.header {
  @include mixin.center-container;
  flex-direction: column;

  .title {
    @include typography.h1;
    color: color.$grey9;
    margin-bottom: 8px;
  }

  .subtitle {
    display: flex;
    gap: 8px;
    color: color.$grey7;
    span {
      color: color.$grey8;
    }
  }
}
