@use '~@/style/color';
@use '~@/style/mixin';
@use '../../common';

.container {
  overflow: auto;
  display: flex;
  flex-direction: column;
  position: relative;
}

.header {
  @include common.header-with-button;
}

.songs {
  overflow: auto;
  @include mixin.scrollbar(0);
}

.date_picker {
  right: 0;
}
