@use '../../common';

.container {
  overflow: auto;
  display: flex;
  flex-direction: column;
  position: relative;
}

.header {
  @include common.header-with-button;
}

.songlist {
  @include common.songlist;
}

.date_picker {
  right: 0;
}
