@use '~@/style/color';
@use '~@/style/mixin';
@use '~@/style/typography';

.container {
  padding: 32px 32px 0;
}

.header {
  display: flex;
  gap: 24px;
  margin-bottom: 24px;
  height: 200px;

  .img_container {
    img {
      object-fit: cover;
      border-radius: 8px;
    }
  }

  .info {
    .name {
      @include typography.h1;
      color: color.$grey8;
    }
    .alias {
      margin-left: 8px;
      @include typography.h3;
      color: color.$grey7;
    }
    .intro {
      margin-top: 16px;
      @include typography.b1;
      @include mixin.ellipsis(8);
      color: color.$grey7;
      text-align: justify;
    }
  }
}
