@use '~@/style/color';

.track {
  background-color: color.$slider-track;
  border-radius: 1px;

  &:hover .slider {
    display: unset;
  }
}

.fill {
  height: 100%;
  background-color: color.$slider-fill;
  position: relative;
  border-radius: 1px;
}

.slider {
  display: none;
  height: 100%;
  width: 8px;
  position: absolute;
  right: 0;
  transform: translateX(50%);
  background-color: color.$slider-slider;
  border-radius: 1px;

  &:active {
    display: unset;
  }
}
