@use '~@/style/color';
@use '~@/style/mixin';

.header {
  height: 30px;
  background-color: color.$header;
  display: flex;
  align-items: center;
  justify-content: space-between;
  @include mixin.draggable;
}

.logo {
  margin-left: 8px;
  width: 16px;
  vertical-align: top;
}

.right {
  display: flex;
  align-items: center;
  height: 100%;
}
