@use '~@/style/color';
@use '~@/style/mixin';

.head {
  height: 40px;
  background-color: color.$green;
  display: flex;
  align-items: center;
  justify-content: space-between;
  @include mixin.draggable;
}

.logo {
  margin-left: 8px;
  width: 24px;
  vertical-align: top;
}

.right {
  display: flex;
  align-items: center;
  height: 100%;
}
