.window-operations {
  height: 100%;
  margin-left: 10px;

  button {
    height: 100%;
    padding: 0 16px;

    &.minimize,
    &.maximize {
      &:hover {
        background-color: rgba(0, 0, 0, 0.05);
      }
    }

    &.close {
      &:hover {
        background-color: rgba(255, 128, 128, 0.9);
      }
    }
  }
}
