@use 'base' as *;

/* BACKGROUND COLORS */
$header: $grey2;

$component: $grey3;
$sidebar: $grey2;
$pane-header-bg: $grey4;
$shortcutbar: $grey1;

$playpanel: $grey3;

$footer: $grey2;

/* Slider */
$slider-track: $grey7;
$slider-fill: $green2;
$slider-slider: $green1;

/* Scrollbar */
$scrollbar: $highlight2;
$scrollbar--hover: $highlight6;

/* FOREGROUND COLORS */
/* Shortcutbar */
$shortcutbar-icon: $grey7;
$shortcutbar-active-icon: $grey9;
/* Sidebar */
$sidebar-title: $grey8;
$pane-header-fg: $grey8;

/* PlayPanel */
/* SongCard */
$song-name: $grey9;
$song-artist: $grey8;
/* CentralController */
$button: $grey8;
$play-button: $grey9;
$active-button: $green1;

$input: $grey7;
$input-border: $green1;
$input-text: $grey9;
$input-placeholder: $grey8;

$song-hover: $highlight1;
$song-focus: $highlight2;
$song-playing: $green1;
$song-unavailable: $grey7;
